@charset 'UTF-8';

html,
html * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: arial, sans-serif;
  font-size: 1vw;
  background: white;
}

header {
  position: fixed;
  padding: 0.5em;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  background:rgba(255,255,255,0.4);
}

.positioning {
	width: 50%;
	padding: 5em;
	padding-top: 0em;
	padding-bottom: 0em;
}

footer {
	height: 700px;
}

input {
	width: 50%;
	padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
	display: inline-block;
}

.text {
	padding-left: 19%
}